body {
  max-width: 100vw;
  min-height: 100vh;
  color: aliceblue;
  background-image: url(../assets/pexels-oleksandr-tiupa-192136.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Fjalla One", sans-serif;
}
h1, .scoreBoard {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.scoreBoard {
  font-family: 'Orbitron', sans-serif;
}
.holes {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  top: 60%;
  left: 50%;
  width: 700px;
  height: 700px;
  transform: translate(-50%, -50%);
}
.hole {
  position: relative;
  height: 150px;
  width: 200px;
  overflow: hidden;
  pointer-events: none;
}
.dirt {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 210px;
  object-fit: cover;
  pointer-events: none;
}
.digglet {
  position: absolute;
  top: 160px;
  width: 140px;
  left: 10px;
  object-fit: contain;
  cursor: pointer;
  z-index: -1;
}
.game {
  position: absolute;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  z-index: 1000;
  background-color: green;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}
.gameOver {
  visibility:hidden;
}
.close {
  opacity: 0;
  pointer-events: none;
}
button {
  padding: 1rem;
  background: none;
  color:aliceblue;
  cursor: pointer;
  transition: 0.5s ease;
  border: 0;
  margin-top: 2%;
  font-family: 'Orbitron', sans-serif;
}
button:hover {
  background-color: rgb(0, 53, 13);
}
.highScore {
  position: relative;
  margin-left: 10px;
  animation: animation 2s ease-out;
}
@keyframes animation {
      0% {
        opacity: 0;
        left: -700px;
      }
      100% {
        opacity: 1;
        left: 0;
      }
    }
@keyframes faceup
{
  from{
    transform: translateY(140px);
  }
  to {
    transform: translateY(-130px);
  }
}
@keyframes facedown
{
  from{
    transform: translateY(-130px);
  }
  to {
    transform: translateY(140px);
  }
}