body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: 0;
  font-family: "Fjalla One", sans-serif;
  max-width: 100vw;
  background-image: url(../assets/pexels-oleksandr-tiupa-192136.jpg);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
h1 {
  text-align: center;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}
.score {
  padding: 3%;
  color: #fff;
  font-size: 2rem;
}
.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.hole {
  flex: 33%;
  overflow: hidden;
  position: relative;
}
.hole:after {
  content: "";
  display: block;
  background: url(../assets/dirt.png) bottom center no-repeat;
  background-size: cover;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: -30px;
}
.mole {
  background-image: url("../assets/Diglett_EpEc.gif");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  transform: translateY(49px);
}
.hole.up .mole {
  top: 0;
}
.button {
  width: 175px;
  font-size: 35px;
  height: 70px;
  color: #fff;
  background-color: rgb(52, 212, 52);
  margin-top: 1%;
  border-width: 0;
  border-radius: 20px;
}
